.btn {
    background-color: #66aa8a;
    border-color: #66aa8a;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: var(--mc-verde-escuro);
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: none;
    border-bottom: 3px solid var(--mc-verde-escuro);
}

.nav-tabs .nav-item {
    width: 50%;
    text-align: center;
}

.nav-tabs .nav-link:hover {
    border: transparent;
}

.card{
    margin-right: 350px;
}

.btn[_ngcontent-ng-c3870319942] {
    background-color: transparent;
    border: 2px solid #66aa8a;
    color:#046135;
}