/* You can add global styles to this file, and also import other style files */
@import 'remixicon/fonts/remixicon.css';

:root {
    --mc-roxo: #592EF2;
    --mc-preto: #000000;
    --mc-cinza: #BFCAD9;
    --mc-verde-claro: #29F280;
    --mc-verde-escuro: #24733F;
    --mc-verde-florescente:#16c64f;
    --mg-branco: #FFFFFF;
}

.mc-bg-roxo {
    background-color: var(--mc-roxo);
}

.mc-bg-preto {
    background-color: var(--mc-preto);
}
.mc-bg-cinza {
    background-color: var(--mc-cinza);
}

.mc-bg-verde-claro {
    background-color: var(--mc-verde-claro);
}

.mg-bg-verde-escuro {
    background-color: var(--mc-verde-escuro);
}

.mc-verde-florescente {
    background-color: var(--mc-verde-florescente);
}

.mg-text-branco{
    color: var(--mg-branco);
}

.mg-text-verde-escuro{
    color: var(--mg-verde-escuro);
}

.btn-outline-secondary {
    --bs-btn-color: #A0A0A0;
    --bs-btn-border-color: #faf7f7;
    --bs-btn-hover-color: #fdf8f8;
    --bs-btn-hover-bg: #e0e5e9;
    --bs-btn-hover-border-color: #ffffff;
}